@use "config/ease";
@use "config/fonts";
@use "config/pallette";
@use "config/variables";

@use "config/normalize";
@use "config/mediaQuery";

html {
  overscroll-behavior: none;
}

body {
  background-color: var(--primary);
  overscroll-behavior: none;
}
