.CompactCard {
  position: relative;
  display: grid;
  column-gap: 72px;
  grid-template-rows: auto 300px;
  grid-template-columns: repeat(2, 1fr);
}

.ContentWrapper {
  grid-row: 1;
  z-index: 2;
  padding: 64px 0 48px;
}

.PrimaryMediaWrapper {
  grid-row: 1;
  align-self: end;
  justify-self: end;

  width: 90%;
  min-width: 350px;
  aspect-ratio: 1/1;
  z-index: 1;
  transform: translateY(180px);
}

.SecondaryMediaWrapper {
  grid-column: 1 / -1;
  grid-row: 2;
  align-self: end;
  justify-self: center;

  width: 300px;
  height: 300px;
  z-index: 0;
}

.Media {
  object-fit: cover;
}
