@import "/src/styles/config/mediaQuery";

.LandingPage {
  display: grid;
  gap: 200px;
  max-width: 100%;
  overflow: hidden;

  @include desktop {
    gap: 400px;
    padding: 0 0 200px;
  }
}

.CardSection {
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardWrapper {
  display: grid;
  height: 100%;
  width: 100vw;

  @include desktop {
    width: unset;
    max-width: 1100px;
  }
}
