.LandingPage {
  display: grid;
  padding: 0 0 200px;
  gap: 400px;
  max-width: 100%;
  overflow: hidden;
}

.CardSection {
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CardWrapper {
  display: grid;
  max-width: 1100px;
  height: 100%;
}
