@import "/src/styles/config/mediaQuery";

.CardHeading {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: 64px;
  padding: 20px;

  @include desktop {
    padding: 0;
    margin-bottom: 128px;
  }
}

.Title {
  font-size: 44px;
  font-weight: 500;
  width: 100%;

  @include desktop {
    width: 60%;
  }
}
.TitleReversed {
  @extend .Title;
  width: 100%;

  @include desktop {
    padding-left: 40%;
  }
}

.Description {
  font-size: 16px;
  font-weight: 500;
  padding-left: 28%;
}
.DescriptionReversed {
  @extend .Description;
  padding-left: 0;
  padding-right: 28%;
  text-align: right;
}
