@import "/src/styles/config/mediaQuery";

.Shift {
  display: none;

  @include desktop {
    display: initial;
    transform: translateX(72px);
  }
}

.ReverseShift {
  transform: translateX(-72px);
}
